// Nextflow config file for rnaseq on DAIC.
// Put this file in the launch directory: the directory in which you `nextflow run`.
// See https://www.nextflow.io/docs/latest/config.html for more info.

params {
  // Partition that Nextflow's SLURM executor will use. Required! 
  // Set with SLURM_PARTITION env variable or with flag. For example: `nextflow run --slurm_partition "ewi-insy-prb,prb,ewi-insy,insy,general"`
  slurm_partition = System.getenv('SLURM_PARTITION') ?: 'general'
  // Account that Nextflow's SLURM executor will use. Required!
  // Set with SLURM_ACCOUNT env variable or with flag. For example: `nextflow run --slurm_account "ewi-insy-prb"`
  slurm_account = System.getenv('SLURM_ACCOUNT')
  // Additional arguments that Nextflow's SLURM executor will pass to SLURM. Optional.
  // Set with flag. For example: `nextflow run --slurm_args "--nodelist='gpu21'"`
  slurm_args = null
}

profiles {
  // SLURM profile: use Nextflow's SLURM executor. Enable profile with `nextflow run -profile "slurm"`.
  // If you have multiple profiles, merge them into a comma-separated list like so: `nextflow run -profile "slurm,docker"`
  slurm {
    executor {
      account = params.slurm_account

      queueSize = 100
      pollInterval = 30.sec
      dumpInterval = 1.min
      queueStatInterval = 1.min
    }

    process {
      queue = params.slurm_partition
      executor = 'slurm'

      clusterOptions = {
        def args = []

        // Set QoS
        def qos = 'short'
        if (task.time > 7.d) {
          qos = 'infinite'
        }
        else if (task.time > 1.5.d) {
          qos = 'long'
        }
        else if (task.time > 4.h) {
          qos = 'medium'
        }
        args.push("--qos=${qos}")

        if (task.accelerator != null && task.accelerator.type == 'gpu') {
          // Request GPUs when process requests a `gpu` accelerator.
          args.push("--gres=gpu:${task.accelerator.request}")
        }

        if (params.slurm_args != null) {
          // Additional SLURM args
          args.push(params.slurm_args)
        }

        args.join(" ")
      }

      // Limits based on biggest node from: https://daic.tudelft.nl/docs/system/compute-nodes/
      resourceLimits = [time: 7.d, cpus: 64, memory: 1007.GB]

      // TUNING. Partial tuning of rnaseq for DAIC. Uncomment to activate.
      // Note: run `nextflow config` to figure out the names of jobs in the workflow.

      // // rnaseq specific
      // withName: SALMON_QUANT {
      //   memory = { 32.GB * task.attempt }
      // }
      // withName: SALMON_INDEX {
      //   memory = { 32.GB * task.attempt }
      // }
      // withName: BEDTOOLS_GENOMECOV_FW {
      //   memory = { 16.GB * task.attempt }
      // }
      // withName: BEDTOOLS_GENOMECOV_REV {
      //   memory = { 16.GB * task.attempt }
      // }
      // withName: RSEQC_READDUPLICATION {
      //   memory = { 64.GB * task.attempt }
      // }
      // withName: TRIMGALORE {
      //   time = { 2.h * task.attempt }
      // }

      // // nf-core
      // // Very short (5-10 minutes)
      // withName: SAMTOOLS_INDEX {
      //   cpus = 1
      //   memory = { 1.GB * task.attempt }
      //   time = { 5.m * task.attempt }
      // }
      // withName: SAMTOOLS_IDXSTATS {
      //   cpus = 1
      //   memory = { 1.GB * task.attempt }
      //   time = { 5.m * task.attempt }
      // }
      // withName: GTF2BED {
      //   cpus = 1
      //   memory = { 1.GB * task.attempt }
      //   time = { 5.m * task.attempt }
      // }
      // withName: MULTIQC {
      //   cpus = 1
      //   memory = { 1.GB * task.attempt }
      //   time = { 5.m * task.attempt }
      //   scratch = true
      // }

      // // Short (30 minutes)
      // withName: CAT_FASTQ {
      //   cpus = 1
      //   memory = { 2.GB * task.attempt }
      //   time = { 30.m * task.attempt }
      // }
      // withName: FASTQC {
      //   cpus = 2
      //   memory = { 4.GB * task.attempt }
      //   time = { 30.m * task.attempt }
      // }
      // withName: SAMTOOLS_STATS {
      //   cpus = 2
      //   memory = { 2.GB * task.attempt }
      //   time = { 30.m * task.attempt }
      // }
      // withName: SAMTOOLS_FLAGSTAT {
      //   cpus = 2
      //   memory = { 2.GB * task.attempt }
      //   time = { 30.m * task.attempt }
      // }

      // // Long (1 hour)
      // withName: SAMTOOLS_SORT {
      //   cpus = 4
      //   memory = { 8.GB * task.attempt }
      //   time = { 1.h * task.attempt }
      // }
      // withName: PICARD_MARKDUPLICATES {
      //   cpus = 4
      //   memory = { 16.GB * task.attempt }
      //   time = { 1.h * task.attempt }
      // }

      // // Long (4 hours)
      // withName: STAR_GENOMEGENERATE {
      //   cpus = 16
      //   memory = { 64.GB * task.attempt }
      //   time = { 4.h * task.attempt }
      // }
      // withName: STAR_ALIGN {
      //   cpus = 8
      //   memory = { 64.GB * task.attempt }
      //   time = { 4.h * task.attempt }
      // }
    }
  }
}
